<main class="page">
  {{#> AuthForm title=title }}
    {{#each fields }}
      {{> FormField this}}
    {{/each}}
    {{> Button text="Авторизоваться"}}
    {{> Link dataPage="registration" text="Нет аккаунта?"}}
  {{/AuthForm }}
</main>
{{> DevModeNav}}
