<div class='page'>
  <main class="page-wrapper">
    {{#> AuthForm title="Вход" }}
       {{#each Fields}}
        {{{this}}}
      {{/each}}
      {{{ButtonSubmit}}}
      {{{LinkToRegistration}}}
    {{/AuthForm }}
  </main>
  {{{DevModeNav}}}
</div>
