<section class='chat-page__chats'>
	{{{ModalAdd}}}
	<div class='chat-page__chats__header'>
		{{{LinkToProfile}}}
		{{{ButtonAddChat}}}
	</div>
	<div class='chat-page__chats__content'>
		{{#each Chats}}
			{{{this}}}
		{{/each}}
	</div>
</section>
		