<div class="page">
  <div class="chat-page">
    <div class="chat-page__chats">
      <a href="/profile">Профиль</a>
    </div>
    <div class="chat-page__chat">
      
    </div>
  </div>
</div>
{{> DevModeNav}}
