<div class="page">
  {{> BackLink}}
  <main class="profile">
    <form class="profile__form">
      {{{avatar}}}
      <h4>{{name}}</h4>
      {{{fields}}}
    </form>
    <section>
      {{{formLinks}}}
    </section>
  </main>
</div>
{{> DevModeNav}}
