<div class="page">
  {{> BackLink}}
  <main class="profile">
    <form class="profile__form">
      {{> AvatarChange}}
      <h4>Иван</h4>
      <section>
        {{#each fields }}
          {{> FormField this }}
        {{/each}}
      </section>
      <section>
        <div class="form-field"><a href="#" data-page="profile-change">Изменить данные</a></div>
        <div class="form-field"><a href="#" data-page="profile-password-change">Изменить пароль</a></div>
        <div class="form-field"><a class="exit__link" href="#" data-page="login">Выйти</a></div>
      </section>
    </form>
  </main>
</div>
{{> DevModeNav}}
