<div class="page">
  {{> BackLink}}
  <main class="profile">
    <div class="profile__avatar">
      <span>Поменять аватар</span>
      <input type="file" name="avatar">
    </div>
    <h4>Иван</h4>
    <section>
      {{#each fields }}
        {{> FormField this }}
      {{/each}}
    </section>
    <section>
      <div class="form-field"><a href="/profile-change">Изменить данные</a></div>
      <div class="form-field"><a href="/profile-password-change">Изменить пароль</a></div>
      <div class="form-field"><a class="exit__link" href="/">Выйти</a></div>
    </section>
  </main>
</div>
{{> DevModeNav}}
