.auth-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 50px 30px 30px;
    width: 340px;
    min-height: 450px;
    background-color: #FFF;
    button ~ a {
        margin-top: 14px;
    }
    .form-field {
        &:last-child {
            margin-bottom: 40px;
        }
        &~button {
            margin-top: auto;
        }
        ~ .form-field {
            margin-top: 16px;
        }
    }
}