.back-link {
    min-height: inherit;
    width: 64px;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    &__arrow {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #3369F3 url('/assets/arrow_left.svg') no-repeat center center;
    }
}