button[type="submit"] {
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #3369F3;
    color: #fff;
}
