<main class="page">
  {{#> AuthForm title=title }}
    {{#each fields }}
      {{> FormField label=label type=type name=name }}
    {{/each}}
    {{> Button text="Зарегистрироваться"}}
    {{> Link dataPage="login" text="Войти"}}
  {{/AuthForm }}
</main>
{{> DevModeNav}}
