<div class='page'>
  <main class="page-wrapper">
    {{#> AuthForm title=title }}
      {{#each Fields}}
      {{{this}}}
      {{/each}}
      {{{ButtonSubmit}}}
      {{{LinkToAuthorize}}}
    {{/AuthForm }}
  </main>
  {{{DevModeNav}}}
</div>
