<main class="page">
  {{#> AuthForm title=title }}
    {{#each fields }}
      {{> FormField label=label type=type name=name }}
    {{/each}}
    {{> Button text="Зарегистрироваться"}}
    <a href="/login">Войти</a>
  {{/AuthForm }}
</main>
{{> DevModeNav}}
