<div class="page-wrapper">
  {{> BackLink}}
  <main class="profile">
    <form class="profile__form">
      {{{avatar}}}
      <h4>{{name}}</h4>
      <section>
        {{{fields}}}
      </section>
      {{{button}}}
    </form>
  </main>
</div>
{{> DevModeNav}}
