<div class="page">
  {{> BackLink}}
  <main class="profile">
    <form class="profile__form">
      {{> AvatarChange}}
      <h4>Иван</h4>
      <section>
        {{#each fields }}
          {{> FormField this }}
        {{/each}}
      </section>
      {{> Button text="Сохранить"}}
    </form>
  </main>
</div>
{{> DevModeNav}}
