<div class='page'>
  <div class="page-wrapper profile-page">
    {{> BackLink}}
    <main class="profile">
      <form class="profile__form">
        {{{Avatar}}}
        <section>
          {{#each Fields}}
            {{{this}}}
          {{/each}}
        </section>
        {{{Button}}}
      </form>
    </main>
  </div>
  {{{DevModeNav}}}
</div>
