<nav class="dev-mode-nav">
  <ul>
    <li><a href="#" data-page="login">Login</a></li>
    <li><a href="#" data-page="registration">Registration</a></li>
    <li><a href="#" data-page="chat">Chats</a></li>
    <li><a href="#" data-page="profile">Profile</a></li>
    <li><a href="#" data-page="profile-change">Change user info</a></li>
    <li><a href="#" data-page="profile-password-change">Change password</a></li>
    <li><a href="#" data-page="error-404">404</a></li>
    <li><a href="#" data-page="error-5**">5**</a></li>
  </ul>
</nav>
