<nav class="dev-mode-nav">
  <ul>
    <li>{{> Link dataPage="login" text="Login"}}</li>
    <li>{{> Link dataPage="registration" text="Registration"}}</li>
    <li>{{> Link dataPage="chat" text="Chat"}}</li>
    <li>{{> Link dataPage="profile" text="Profile"}}</li>
    <li>{{> Link dataPage="profile-change" text="Change user info"}}</li>
    <li>{{> Link dataPage="profile-password-change" text="Change password"}}</li>
    <li>{{> Link dataPage="error-404" text="404"}}</li>
    <li>{{> Link dataPage="error-5**" text="5**"}}</li>
  </ul>
</nav>
