<nav>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/registration">Registration</a></li>
    <li><a href="/chat">Chats</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/profile-change">Change user info</a></li>
    <li><a href="/profile-password-change">Change password</a></li>
  </ul>
</nav>
