<div>
	{{{ModalUploadImage}}}
	<div class='avatar-change' style="background-image: url('{{value}}')">
		<span class='avatar-change__placeholder'>Поменять аватар</span>
		<input type='file' name='avatar' value={{value}} />
	</div>
</div>
