<div class="page">
  {{> BackLink}}
  <main class="profile">
    {{> AvatarChange}}
    <section>
      {{#each fields }}
        {{> FormField this }}
      {{/each}}
    </section>
    {{> Button text="Сохранить"}}
  </main>
</div>
{{> DevModeNav}}
