<div class='chat'>
	<div class='chat__avatar'></div>
	<div class='chat__info'>
		<div class='chat__info__name'>{{name}}</div>
		{{#if message}}
			<div class='chat__info__message'>
				{{#if myMessage}}
					<span class='chat__info__message__mine'>Вы: </span>
				{{/if}}
				{{message}}
			</div>
		{{/if}}
	</div>
	<div class='chat__description'>
		{{#if time}}
			<div class='chat__description__time'>{{time}}</div>
		{{/if}}
		{{#if unreadsCount}}
			<div class='chat__description__count'>{{unreadsCount}}</div>
		{{/if}}
	</div>
</div>
