{{#if show}}
    <div class="modal">
        <form class="modal__form" id="modalForm">
            {{{Title}}}
            {{{Content}}}
            {{{Submit}}}
        </form>
    </div>
{{else}}
    <div></div>
{{/if}}
