<div class='page'>
  <div class="page-wrapper">
    <main class="error-form">
      <h1>{{errorCode}}</h1>
      <h4>{{errorText}}</h3>
      {{{LinkToChat}}}
    </main>
  </div>
  {{{DevModeNav}}}
</div>
